# Food Delivery Data Analysis

This notebook loads, merges, and analyzes the food delivery datasets.

In [1]:
import pandas as pd
import sqlite3

In [2]:
orders = pd.read_csv('orders.csv')
users = pd.read_json('users.json')

In [3]:
conn = sqlite3.connect(':memory:')
with open('restaurants.sql','r') as f:
    conn.executescript(f.read())
restaurants = pd.read_sql('SELECT * FROM restaurants', conn)

In [4]:
merged = orders.merge(users, on='user_id', how='left')
final_df = merged.merge(restaurants, on='restaurant_id', how='left')
final_df.head()

,order_id,user_id,restaurant_id,order_date,total_amount,restaurant_name_x,name,city,membership,restaurant_name_y,cuisine,rating
0,1,2508,450,18-02-2023,842.97,New Foods Chinese,User_2508,Hyderabad,Regular,Restaurant_450,Mexican,3.2
1,2,2693,309,18-01-2023,546.68,Ruchi Curry House Multicuisine,User_2693,Pune,Regular,Restaurant_309,Indian,4.5
2,3,2084,107,15-07-2023,163.93,Spice Kitchen Punjabi,User_2084,Chennai,Gold,Restaurant_107,Mexican,4.0
3,4,319,224,04-10-2023,1155.97,Darbar Kitchen Non-Veg,User_319,Bangalore,Gold,Restaurant_224,Chinese,4.8
4,5,1064,293,25-12-2023,1321.91,Royal Eatery South Indian,User_1064,Pune,Regular,Restaurant_293,Italian,3.0

In [5]:
final_df.to_csv('final_food_delivery_dataset.csv', index=False)

## Sample Analysis

In [6]:
final_df.groupby('membership')['total_amount'].mean()

membership
Gold       797.145556
Regular    805.158434
Name: total_amount, dtype: float64